/* .hero-section{
    margin-top: 150px;
} */

.hero-greet{
    color:#c89cf7;
}

.hero-title{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-typing{
    color:darkgray;
    font-size: 1.5rem;
}

.hero-typing::after{
    color: #5b3478;
}

.btn-project, .btn-contact{
    padding:10px 35px;
    border-radius: 10px;
    font-weight: 500;
    font-size:1.1rem;
    /* border:none; */
}
.btn-project:hover{
     opacity: 0.8;
    color: #ffffff;
}

.btn-contact:hover{
    background: rgba(57, 59, 62, 0.349);
    opacity: 0.8;
    color: #ffffff;

}
.hero-video-border{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hero-video-border::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed rgba(168, 85, 247, 0.35);
    animation: rotateBorder 75s linear infinite;
    box-shadow:0 0 20px rgba(124, 58, 237, 0.25);
}

.hero-video{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.hero-content{
    animation: slideIn 1.5s ease forwards;
}
@keyframes slideIn{
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-video-container{
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

@keyframes rotateBorder{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* MOBILE MENU */
@media(max-width: 991px){

    .hero-section{
        margin-top:50px;
    }

    .hero-content{
        margin-top: 40px;
        text-align: center;
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero-typing{
        font-size: 1.1rem;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .btn-project, .btn-contact{
        padding:10px 45px;
        font-size:1rem;
    }

    .hero-video-border{
        width: 380px;
        height: 380px;
    }

    .hero-video{
        width: 330px;
        height: 330px;
    
    }
    .hero-video-container{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}